@page
@model eUni.Pages.ContactModel
@{
}

<div class="row">
    <div class="col-lg-9 mx-auto p-3">
        <h3 class="mb-3 font-weight-normal text-center pb-4">Contact Form</h3>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name*</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="firstname" value=""/>
                </div>
            </div>
        </form>
    </div> 
</div>
